h1 {
    text-align: center;
}

p {
  margin: 10px;
}
#columns-main {
  clear: both;
  padding: 1.5rem 0;
  overflow: hidden;
}

.col-3::last{
  float:right;
}
.col-3 {
  width: 75%;
  min-height: 500px;
  margin: 0;
  float: left;
  padding: 0 1.5rem;
}

.col-3 h3 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0;
}
.col-3 h2 {
  font-size: 2em;
  text-transform: uppercase;
  margin: 1rem;
}
.col-3 p {
  font-size: 1.35em;
}
.career-item{
  padding: 0.75rem;
  background-color: #fff;
  color: #666;
  border-radius: 0.5rem;
  cursor: pointer; 
}
.career-item:hover {
    color: #ffb606;
}
.form-input{
  float: right;
}
.form-label{
  font-size: 1.5em;
}
.form-group {
    margin-bottom: 10px;
    overflow: hidden;
}
.hidden{
  position: fixed;
  left: -10000px;
}