@import url('https://fonts.googleapis.com/css?family=Courgette|Economica');

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

body {
    font-family: "Economica";
    color: #ffffff;
    background: linear-gradient(to bottom, #f2f2f2 0%, #fafafa 50px)
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Courgette";
}

.wrapper {
    max-width: 1024px;
    margin: auto;
}

.clear {
    clear: both;
}

.col {
    float: left;
}

.fa {
    margin-right: 5px;
}

#heading,
#footer{
    background: #21b0d1;
    padding: 20px 0;
}

#header .col {
    width: 33.3333%;
}

#logo {
    text-align: center;
}

#socials {
    text-align: right;
}

#nav {
    background: #23272c;
    text-align: center;
}

#nav .nav {
    display: inline-block;
    margin: 10px 10px;
}

#nav .nav-link {
    color: #ffffff;
    text-transform: Capitalize;
    font-weight: bold;
    text-decoration: none;
}

#main {
    min-height: 500px;
}