@import url('https://fonts.googleapis.com/css?family=Courgette|Economica');

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2.75rem;
}

ul {
    list-style: none;
}

body {
    font-family: "Economica";
    color: #666;
    background: linear-gradient(to bottom, #f2f2f2 0%, #fafafa 50px)
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Courgette";
}

a:hover {
    color: #ffb606;
}

.wrapper {
    max-width: 1024px;
    margin: auto;
}

.show {
    display: block !important;
}

.hide {
    display: none;
}

.clear {
    clear: both;
}

.col {
    float: left;
}

.fa {
    margin-right: 5px;
    color: #ffb606;
}

.form-input {
    background: #ffffff;
    padding: 10px 12px;
    border: 1px solid rgba(128, 128, 128, 0.4);
    border-radius: 3px;
    width: 80%;
}

.select-form {
    height: 35px;
}

.input-error {
    border: 1px solid #ff0606;
}

#msg {
    display: inline-block;
    margin: 10px 0;
    padding: 5px 0;
}

.success {
    border: 1px solid #36ff06;
}

.error {
    border: 1px solid #ff0606;
}

.button {
    display: inline-block;
    border-radius: 3px;
    padding: 10px 12px;
    background: #ffb606;
    color: #2a2a2a;
    cursor: pointer;
    transition: all 0.5s;
    font-size: 1.25rem;
    border: none;
    text-align: center;
    /*box-shadow: 3px 3px 6px 0 rgba(0,0,0,0.3);  TO CONFIRM?? */
}

.button:hover:enabled {
    background: #2a2a2a;
    color: #ffffff;
}

.label {
    position: absolute;
    display: inline-block;
    background: #ffb606;
    padding: 5px;
    top: 0;
    left: 0;
}

#header {
    background: rgba(0,0,0,0.46);
    padding: 20px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

#logo {
    width: 20%;
}

#logo-text {
    margin: 0;
    color: #ffffff;
}

#nav {
    width: 80%;
}

#nav .nav {
    display: inline-block;
    margin: 10px 10px;
}

.nav-link {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    position: relative;
    transition: color 0.5s
}

.nav-link:hover {
    color: #ffb606;
}

.nav-link:before {
    content: '';
    position: absolute;
    width: 0px;
    bottom: -8px;
    height: 3px;
    background: #ffb606;
    transition: all 0.6s;
}

.nav-link:hover:before {
    width: 100%;
}

#main {
    min-height: 500px;
    margin-top: 80px;
}

#footer {
    background: #181818;
    color: #ffffff;
    padding: 40px 0;
}