/*-- Summary: Contact Us form, Business hours & Clients review  --*/
/*-- Comment: Contact Us CSS File                               --*/
/*-- Created: by Irfaan Auhammad on 13-Nov-2016                 --*/

/* Border box property */
/* ------------------- */
html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}


/* HTML Elements */
/* ------------- */
.hidden {
    position: absolute;
    left: -10000px;
}

#col-form {
    display: inline-block;
    margin-right: -4px;
    width: 60%;
}

#additional-info {
    display: inline-block;
    width: 30%;
    margin-top: 1em;
    margin-left: 5%;
}

#col-form, #additional-info {
    vertical-align: top;
}

#additional-info h2 {
    font-size: 2em;
}


/* Contact form */
/* ------------ */
#col-form p {
    color: #23272c;
    margin-top: 1em;
    font-size: 1.25em;
}

form {
    margin: 1em 0;
}

form > div {
    margin: 1em 0;
}

label {
    margin-bottom: 4px;
}

.field-required, #validation-error {
    color: crimson;
}

input, select {
    width: 60% !important;
    padding: 0.75em 0.75em;
}

textarea {
    width: 75% !important;
    padding: 0.75em 0.75em;
}

.validation-error, #validation-error {
    color: orangered;
    display: none;
}

#submit-success {
    color: forestgreen;
    font-size: 1.25em;
    font-weight: bold;
    display: none;
}


/* Sidebar */
/* ------- */
#additional-info section {
    margin-bottom: 1em;
    padding: 0.5em 0.5em;
    background: rgba(0,0,0,0.46);
    color: #ffb606;
    border: 1px solid #23272c;
}

h3 {
    text-align: center;
    font-size: 1.5em;
    padding: 0.5em 0;
    border-bottom: 4px double white;
    margin-bottom: 0.5em;
    letter-spacing: 1px;
}

#opening-hours table {
    margin: 0 auto;
    color: #fff;
    letter-spacing: 1px;
}

tr td:first-child {
    padding-right: 1em;
}

tr td:last-child {
    text-align: right;
}

#review-text-bg {
    background-color: white;
    color: #23272c;
    padding: 0.5em 0.5em;
    border-radius: 5px;
    margin-bottom: 4px;
}

#review-sender {
    padding: 0 0.5em;
    border-bottom: 1px solid azure;
    font-weight: bold;
}

#sender-name {
    font-style: italic;
}