/* Slideshow container */
#specialsContainer {
  max-width: 1000px;
  min-height: 500px;
  position: relative;
  margin: auto;
}
/* Next & previous buttons */
#prev, #next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
#next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
#prev:hover, #next:hover {
  background-color: #ffb606;
}

#slideArea {
  position: relative;
  height: 500px;
  overflow: hidden;
}

#slideArea img {
  width: 100%;
  height: 500px;
}
/* Caption text */
.text {
  color: #f2f2f2; 
  background: rgba(0,0,0,0.46);
  font-size: 24px;
  padding: 8px 12px;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  background: rgba(0,0,0,0.46);
  position: absolute;
  top: 0;
}


.active{
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

#nextWeek,#prevWeek{
  background: rgba(0,0,0,0.46);
  height: 500px;
  overflow: hidden;
}
#nextWeek li,#prevWeek li {
  padding: 0.1em 1em;
}
#nextWeek img,#prevWeek img {
  width: 90%;
}
#timerCountDownBox {
  text-align: right;
  font-size: 20px;
  font-weight: bold;
  position: absolute; 
  top: 50px;
  right: 45px;
  color: red;
}


.col-3 {
  width: 33%;
  min-height: 500px;
  margin: 0;
  float: left;
  position: relative; 
}

.col-3 h3 {
  font-size: 1.4em;
  text-transform: uppercase;
  margin: 0 3px;
}
.col-3 h2 {
  font-size: 2em;
  text-transform: uppercase;
  margin: 1rem;
}
.col-3 p {
  font-size: 1em;
  color: #a3a2a2;
  font-weight: bold;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}