#events-booking #main {
    color: #5f686e;
}

.form-group {
    margin-bottom: 20px;
}

.form-label {
    display: block;
    margin-bottom: 4px;
}

#events-booking h1 {
    text-align: center;
    margin: 20px 0;
}

#eventform .col {
    width: 20%;
}

#end-time-form {
    display: none;
}

#eventform textarea {
    height: 250px;
}

#eventform .button {
    width: 100px;
}

.event.col {
    width: 24%;
    background: #ffffff;
    margin-bottom: 20px;
    margin-right: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px 0;
}

.event-image {
    width: 100%;
    position: relative;
    height: 175px;
    background-size: cover;
    background-position: 50% 50%;
    transition: all 3s;
}

.event-image img {
    width: 100%;
}

.event-info {
    padding: 10px;
}

#eventform {
    display: none;
}

#back-to-list {
    width: 135px;
    display: none;
    margin-bottom: 20px;
}