#events-booking #main {
    color: #5f686e;
}

.form-group {
    margin-bottom: 20px;
}

.label {
    display: block;
    margin-bottom: 4px;
}

.form-input {
    background: #ffffff;
    padding: 10px 12px;
    border: 1px solid rgba(128, 128, 128, 0.4);
    border-radius: 3px;
}

.button {
    font-size: 18px;
    background: #21b0d1;
    color: #ffffff;
}

