/*-- Summary: Gift card order page              --*/
/*-- Comment: Gift card order page              --*/
/*-- Created: by Irfaan Auhammad on 21-Nov-2016 --*/

/* Border box property */
/* ------------------- */
html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}


/* HTML Elements */
/* ------------- */
.hidden {
    position: absolute;
    left: -10000px;
}

a {
    text-decoration: none;
    color: #333333;
}

#main-content, #order-summary {
    display: inline-block;
    margin-right: -4px;
    width: 60%;
    height: auto;
    margin-top: 1em;
    padding: 1em 1em;
}

#coundDownTimer {
    display: inline-block;
    width: 27%;
    height: auto;
    margin-left: 2%;
    position: fixed;
}

#sidebar {
    display: inline-block;
    width: 30%;
    margin-top: 1em;
    padding: 1em 1em;
    border: 1px dotted red;
    color: aqua;
}

#main-content, #sidebar {
    vertical-align: top;
}


/* Card Preview */
/* ------------ */
#card-preview {
    width: 55%;
    display: inline-block;
    margin-right: -4px;
}

#card-preview img {
    padding: 0.5em 0.5em;
    width: 100%;
}

#message-box {
    display: inline-block;
    width: 43%;
    vertical-align: top;
    margin-top: 0.5em;
    position: relative;
    margin-right: -4px;
    margin-left: 2%;
    padding-right: 0.5em;
}

#personal-msg {    
    width: 100%;
    font-size: 1.2em;
}

.selected-card img {
    border: 5px solid #ffb606;
    border-radius: 15px;
}

#gift-cards-selection span {
    cursor: pointer;
}


/* Select Gift Amount */
/* ------------------ */
#gift-card-intro p {
    color: #23272c;
    margin: 0.4em 0;
    font-size: 1.1em;
}

#designs img {
    width: 32%;
    height: auto;
    margin-left: 0.5%;
}

#input-amount, #select-amount {
    display: inline-block;
    padding: 1em 0;
}

#input-amount {
    padding-left: 1em;
    width: 30%
}

#gc-amount {
    width: 30% !important;
    font-weight: bold;
    text-align: right;
    padding: 0.5em 0.5em;
}

#predefined-amount ul {
    list-style-type: none; 
}

#predefined-amount li {
    display: inline;
    border: 1px solid #ffb606;
    padding: 0.5em 1em;
    margin: 0 0.25em;
    font-weight: bold;
    font-size: 1.25em;
    cursor: pointer;
    transition: all 0.5s;
}

#predefined-amount li:hover {
    background: #2a2a2a;
    color: #ffffff;
    border: 1px solid #2a2a2a;
}

.amount-selected {
    background: #ffb606 !important;
    color: #2a2a2a !important;
    border: 1px solid #ffb606 !important;
}

.allowed-amt {
    color: #ffb606;
    font-weight: bold;
}

label {
    font-size: 1.1em;
    color: #23272c;
}

div.labelling {
    margin-top: 1em;
}

.required-field {
    color: crimson;
}

input, select {
    border: 1px solid #23272c;
    font-size: 1em;
    width: 50%;
    padding: 0.5em 0.5em;
    border-radius: 5px;
}

.validation-error, #validation-error {
    color: orangered;
    display: none;
}

button {
    margin-top: 1em;
}


/* Your order summary */
/* ------------------ */
#order-summary {
    margin-top: 0;
    display: none;
}

#confirmTheOrder {
    text-align: right;
    width: 75%;
}

#gift-card-summary, #order-details-summary {
    border: 1px solid lightgrey;
    padding: 0.5em 0.5em;
    position: relative;
    width: 75%;
}

#order-details-summary {
    border-top: none;
    margin-bottom: 0.75em;
}

#choosen-gift-card, #choosen-amount {
    display: inline-block;
    margin-right: -4px;
    vertical-align: top;
}

#choosen-gift-card {
    width: 50%;
}

#choosen-gift-card img {
    width: 100%;
    height: auto;
}

#choosen-amount {
    margin-left: 2em;
    margin-top: 1em;
    width: 42%;
    position: relative;
}

#modify-order {
    text-align: right;
    margin: 1em 0 1em 0;
}

#modify-order li {
    display: inline;
    margin: 0 0 0.5em 0.5em;
    padding: 0.75em 0.5em;
    border: 1px solid #ffb606;
    cursor: pointer;
    transition: all 0.5s;
}

#modify-order li:hover {
    background: #2a2a2a;
    color: #ffffff;
    border: 1px solid #2a2a2a;
}

#modify-order a {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1em;
}

#modify-order li:hover a {
    color: #ffffff;    
}

.flex-container {
	display: flex;
	flex-flow: row wrap;
}

div.flex-container div:last-child {
    text-align: right;
    flex: 1 0 auto;
}

#main h2 {
    color: #333;
    letter-spacing: 1px;
    padding: 0.5em 0;
    border-bottom: 2px solid #ddd;
    margin-bottom: 0.5em;
    margin-top: 1em;
}

h3 {
    color: #333;
    font-size: 1.1em;
    margin: 0.75em 0;
}

#total-amount {
    width: 75%;
}

#order-success {
    color: forestgreen;
    font-size: 1.25em;
    font-weight: bold;
    margin-bottom: 1em;
}

#amount-due {
    font-weight: bold;
}

#clockdiv{
	text-align: center;
	display: none;
}

#coundDownTimer .container{
	display: inline-block;
	border-radius: 5px;
	padding: 10px;
	background-color: #2a2a2a;
	margin: 4px;
}

#coundDownTimer span{
	display: inline-block;
	color: #2a2a2a;
	background-color: #ffb606;
	border-radius: 5px;
	opacity: 0.9;
	font-size: 2em;
	padding: 0.5em;
}

/* Override span for days and time */
.newYear {
    display: inline !important;
    color: #2a2a2a !important;
    padding: 0 !important;
    background-color: transparent !important;
    font-size: 1.5em !important;
}

#coundDownTimer .smalltext{
	color: white;
	padding-top: 0.5em;
}