#map {
    width: 70%;
    height: 600px;
}

#locations h1 {
    text-align: center;
}

#control {
    margin-bottom: 20px;
}

#control .active {
    background: #2a2a2a;
    color: #ffffff;
}

.res-popup {
    width: 200px;
}

.res-image img {
    width: 100%;
}

.res-info {
    color: #21b0d1;
}

#res-list {
    width: 30%;
    height: 600px;
    overflow-y: scroll;
}

.restaurant {
    background: #ffffff;
    margin-bottom: 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px 0;
    margin-right: 30px;
    cursor: pointer;
    transition: all 1s ease;
}

.restaurant.active {
    border: 1px solid #ffb606;
}

.res-info {
    padding: 3%;
    color: #363636;
}

.res-title {
    margin-bottom: 5px;
    text-transform: capitalize;
}

.res-info p {
    color: #868686;
    padding-bottom: 10px;
    border-bottom: 1px dashed #e9e9e9;
    margin-bottom: 5px;
}