html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
.indicator.hidden, .hidden {
    position: absolute;
    left: -10000px;
}
#header {
    z-index: 2;
}
#banner {
    position: relative;
    z-index: 1;
}
#banner p {
    font-size: 32px;
    position: absolute;
}
#banner p:first-child {
    left: calc(50% - 60px);
    top: 12rem;
    color: #ffb606;
    font-family: "Courgette";
}
#banner p:nth-child(2) {
    left: calc(50% - 30px);
    top: 15rem;
    font-weight: bold;
    color: #fff;
}
img {
    width: 100%;
    height: 100%;
}
#banner ul {
    position: absolute;
    width: 100%;
    bottom: 3.5px;
    background-color: rgba(0, 0, 0, 0.7);
}
#banner ul li {
    padding: 1rem;
    text-align: center;
    width: 20%;
    display: inline-block;
    float: left;
    position: relative;
}
#banner ul li:nth-child(2n) {
    border-left: 1px dashed #5d5d5c;
    border-right: 1px dashed #5d5d5c;
}
#banner ul li:hover {
    color: #ffb606;
    cursor: pointer;
}
.indicator {
    left: calc(50% - 5px);
    bottom: 0;
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 10px solid white;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}
#banner ul li {
    font-size: 32px;
    color: #fff;
}
#menu {
    width: 90%;
    margin: 0 auto;
}
#menu ul {
    margin-bottom: 1rem;
}
#menu ul li {
    width: 49%;
    display: inline-block;
    margin-top: 1rem;
    border: 1px solid #dddddd;
    border-radius: 5px;
}
#menu ul li:nth-child(2n) {
    margin-left: 0.5rem;
}
#menu ul li div {
    display: inline-block;
    vertical-align: top;
}
.mealDesk {
    width: 65%;
    padding-left: 1rem;
}
.mealDesk p:first-child {
    margin-top: 1rem;
}
.mealImg {
    display: inline-block;
    width: 100px;
    height: 100px;
}
.mealPrice {
    padding-right: 1rem;
}
.mealPrice p:first-child {
    margin-top: 1rem;
}